---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import About from '../components/About';
import Categories from '../components/Categories';
import FeaturedProducts from '../components/FeaturedProducts';
import Features from '../components/Features';
import CTA from '../components/CTA';
import Footer from '../components/Footer';
---

<Layout title="Smart Devices for Everyday Life">
	<Navbar client:load />
	<main>
		<Hero client:visible />
		<About client:visible />
		<Categories client:visible />
		<FeaturedProducts client:visible />
		<Features client:visible />
		<CTA client:visible />
	</main>
	<Footer />
</Layout>
